<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Theatre.Properties.Settings.IS_THEATREConnectionString"
            connectionString="Data Source=DESKTOP-7IR5EG6\SQLEXPRESS;Initial Catalog=IS_THEATRE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Theatre.Properties.Settings.ConnectionString" connectionString="Data Source=DESKTOP-G2L34UC\SQLEXPRESS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Theatre.Properties.Settings.theathreConnectionString"
            connectionString="Data Source=DESKTOP-G2L34UC\SQLEXPRESS;Initial Catalog=theathre;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>